body {
  background-color: #f6f6f6;
  text-align: center;
}
h1 {
    color:#5eaaa8
}
h2 {
    color: #5eaaa8;
}
h3 {
  color: #5eaaa8;
}
hr {
  border: none;
  border-top: #eb5e0b solid 1px;
  width: 20%;
}

table{
  margin: 0 auto;
}

ul{
  display: inline-block;
}

li{
  text-align: center;
  margin: 20px;
  list-style-type: none;
}



img{
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 100%;
}
